* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.3s ease;
}

body {
    background-color: #f8f5f2;
    color: #000000;
}

.navbar {
    background: #452d26;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: #f8f5f2;
    cursor: pointer;
}

.navbar__menu {
    display: flex;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 88px;
}

.navbar__links {
    color: #f8f5f2;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar__toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #f8f5f2;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.full-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4b3e4d;
    transition: background-color 0.5s ease-in-out;
    
}

.section .content {
    max-width: 700px;
    margin: 5 auto;
    text-align: center;
    margin-top: 0%;
}

.section__img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section__img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.home__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.home__img {
    width: 250px;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
    margin-right: 30px;
}

.home__info {
    max-width: 700px;
}
.home__info h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.home__info p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.blog-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%; 
    max-width: 1600px;
    margin: 0 auto;
    flex-wrap: nowrap; 
}
.card {
    background-color: #e0e0e0a1;
    color: #000000;
    flex: 1;
    max-width: 33.333%;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
    margin: 0; 
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.box img {
    width: 100%;
    border-radius: 80%; 
    max-width: 800px; 
    height: auto;
}

.owl-carousel .card {
    flex: 0 0 auto;
    margin-right: 20px; 
    scroll-snap-align: start;
    width: 300px; 
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}
.text {
     font-weight: bold;
     font-size: 20px;
     margin-bottom: 17%;
}

.column {
    flex: 10;
    min-width: 300px;
    padding: 20px;
}

.head {
    font-weight: bold;
}

.sub-title a {
    color: inherit;
    text-decoration: none;
}
.sub-title a {
    color: #fff;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff; 
    animation: glow 8s ease-in-out infinite alternate; 
}

.form {
    width: 100%;
}

.fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.field {
    width: 100%;
    margin-bottom: 20px;
}

.field.name, .field.email {
    width: 48%;
}

textarea {
    width: 100%;
    resize: none;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    text-align: center;
}

.button button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button button:hover {
    background-color: #555;
}


.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background-color: #0b0b0b;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #00000081;
    transform: scale(1.05);
}

.btn:active {
    background-color: #ffffff;
    transform: scale(0.95);
}

.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
}

.footer .social-icons {
    margin-bottom: 20px;
}

.footer .social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
}

.footer .social-icons a:hover {
    color: #050100;
}

.footer .footer-links {
    margin-bottom: 20px;
}

.footer .footer-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer .footer-links a:hover {
    color: #ffccbc;
}

.footer p {
    margin: 0;
    font-size: 14px;
}
footer .fa-facebook {
    background: transparent;
    color: white;
  }
 footer .fa-instagram {
    background: transparent;
    color: white;
  }
 footer .fa-google {
    background: transparent;
    color: white;
  }
  footer .fa:hover {
    opacity: 0.7;
    transform: scale(1)translateY(-5px);
    color: #1fd960;
  }

.home-bg {
    background: rgb(0, 100, 255);
    background: linear-gradient(to bottom right, #007bff, #00c6ff);
    animation: gradient-animation 10s ease infinite alternate;
}

.about-bg {
    background: linear-gradient(to bottom right, #f70e0e, #fd6666);
    animation: gradient-animation 10s ease infinite alternate-reverse;
}

.blog-bg {
    background: linear-gradient(to bottom right, #ff9900, #ffcc00);
    animation: gradient-animation 10s ease infinite alternate;
}

.portfolio-bg {
    background: linear-gradient(to bottom right, #00cc99, #00ffcc);
    animation: gradient-animation 10s ease infinite alternate-reverse;
}

.contact-bg {
    background: linear-gradient(to bottom right, #e83c3c, #8ca5de);
    animation: gradient-animation 10s ease infinite alternate;
}

@keyframes gradient-animation {
    0% {
        filter: hue-rotate(0deg);
    }
    90% {
        filter: hue-rotate(0deg);
    }
}

@media (max-width: 768px) {
    .footer .footer-links a {
        display: block;
        margin: 5px 0;
    }

    .footer .social-icons a {
        margin: 5px;
    }
}


@media (max-width: 768px) {
    .btn {
        width: 100%;
        padding: 12px 0;
        font-size: 18px;
    }
}



@media screen and (max-width: 768px) {
    .navbar__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: -1000px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .navbar__menu.active {
        background: #3b2c35;
        top: 88px;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .navbar__toggle {
        display: flex;
    }

}

@media (max-width: 0px) {
    .carousel.owl-carousel {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 2em;
    }

    .card {
        width: 100%;
    }

    .box img {
        width: 70%;
    }

    .btn-resume {
        padding: 10px;
        font-size: 0.9em;
    }
}
